theme: jekyll-theme-minimal
title: Alex Rasmussen
description: Feel free to use what you find here - but please leave a back reference to the OG.

# Blog URLs
permalink: /blog/:year/:month/:day/:title/

# Show excerpts automatically on index pages
excerpt_separator: "<!--more-->"

# Defaults (so posts use the post layout automatically)
defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post


nav_pages:
  - title: Home
    url: /
  - title: Blog
    url: /blog/
  - title: Contact
    url: /contact/

remote_theme: pages-themes/hacker@v0.2.0
plugins:
- jekyll-remote-theme 

# Where things are
source              : .
destination         : ./_site
collections_dir     : .
plugins_dir         : _plugins # takes an array of strings and loads plugins in that order
layouts_dir         : _layouts
data_dir            : _data
includes_dir        : _includes
sass:
  sass_dir: _sass
collections:
  posts:
    output          : true

# Handling Reading
safe                : false
include             : [".htaccess"]
exclude             : ["Gemfile", "Gemfile.lock", "node_modules", "vendor/bundle/", "vendor/cache/", "vendor/gems/", "vendor/ruby/"]
keep_files          : [".git", ".svn"]
encoding            : "utf-8"
markdown_ext        : "markdown,mkdown,mkdn,mkd,md"
strict_front_matter : false

# Filtering Content
show_drafts         : null
limit_posts         : 0
future              : false
unpublished         : false

# Conversion
markdown            : kramdown
highlighter         : rouge
lsi                 : false
excerpt_separator   : "\n\n"
incremental         : false


# Markdown Processors
kramdown:
  auto_ids          : true
  entity_output     : as_char
  toc_levels        : [1, 2, 3, 4, 5, 6]
  smart_quotes      : lsquo,rsquo,ldquo,rdquo
  input             : GFM
  hard_wrap         : false
  footnote_nr       : 1
  show_warnings     : false
