<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Hacker theme stylesheet -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  </head>

  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ "/" | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>

        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        {% if page.url == "/" %}
          <img
            src="{{ "/assets/images/avatar.jpg" | relative_url }}"
            alt="Avatar"
            class="header-avatar"
          />
        {% endif %}
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </body>
</html>
